@model CreateLocationDto
@{
    ViewData["Title"] = "LocationCreate";
    Layout = "_LayoutAdmin";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lokasyon Ekle</h4>
                    <hr>
                    <form asp-controller="Location" asp-action="LocationCreate" method="post">
                        <div class="form-group">
                            <label for="LocationName">Başlık</label>
                            <input type="text" asp-for="LocationName" id="LocationName" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Kaydet</button>
                            <a asp-area="Admin" asp-controller="Location" asp-action="LocationList" class="btn btn-dark">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>