@model CreateTestimonialDto
@{
    ViewData["Title"] = "TestimonialCreate";
    Layout = "_LayoutAdmin";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Referans Ekle</h4>
                    <hr>
                    <form asp-controller="Testimonial" asp-action="TestimonialCreate" method="post">
                        <div class="form-group">
                            <label for="TestimonialFullname">Ad Soyad</label>
                            <input type="text" asp-for="TestimonialFullname" id="TestimonialFullname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="TestimonialTitle">Başlık</label>
                            <input type="text" asp-for="TestimonialTitle" id="TestimonialTitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="TestimonialComment">Yorum</label>
                            <textarea class="form-control" asp-for="TestimonialComment" id="TestimonialComment" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="TestimonialImage">Resim</label>
                            <input type="text" asp-for="TestimonialImage" id="TestimonialImage" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Kaydet</button>
                            <a asp-area="Admin" asp-controller="Testimonial" asp-action="TestimonialList" class="btn btn-dark">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>