@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/Template/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">ANA SAYFA <i class="ion-ios-arrow-forward"></i></a></span> <span>İLETİŞİM <i class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">İLETİŞİM</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">

                @await Component.InvokeAsync("FooterAddress")

                <div class="col-md-8 block-9 mb-md-5">
                    <form asp-controller="Contact" asp-action="Contact" class="bg-light p-5 contact-form" method="post">
                        <div class="form-group">
                            <input type="text" name="ContactName" class="form-control" placeholder="Ad Soyad">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ContactMail" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="ContactSubject" class="form-control" placeholder="Konu">
                        </div>
                        <div class="form-group">
                            <textarea name="ContactMessage" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div id="map" class="bg-white"></div>
                </div>
            </div>
        </div>
    </section>