@model UpdatePricingDto
@{
    ViewData["Title"] = "PricingUpdate";
    Layout = "_LayoutAdmin";
}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Marka Düzenle</h4>
                    <hr>
                    <form asp-controller="Pricing" asp-action="PricingUpdate" method="post">
                        <input type="hidden" asp-for="PricingId">
                        <div class="form-group">
                            <label for="PricingName">Marka</label>
                            <input type="text" asp-for="PricingName" id="PricingName" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Kaydet</button>
                            <a asp-area="Admin" asp-controller="Pricing" asp-action="PricingList" class="btn btn-dark">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>