<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/AdminTemplate/images/favicon.ico">

    <!-- App css -->
    <link href="/AdminTemplate/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/AdminTemplate/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/AdminTemplate/css/theme.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</head>
<body>

    <div id="layout-wrapper">

        @await Component.InvokeAsync("AdminHeader")

        @await Component.InvokeAsync("AdminSidebar")
        
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    @RenderBody()
                  
                </div>
            </div>
        </div>

    </div>

    @await Component.InvokeAsync("AdminScript")

</body>
</html>